<h1>プロフィール編集</h1>

<div class="container">

  <%= form_with model: @user, local: true do |f| %>

    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :bike_name, "乗ってるバイク" %>
      <%= f.text_field :bike_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :location, "住んでるところ" %>
      <%= f.text_field :location, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :gender, "性別" %>
      <%= f.text_field :gender, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :age, "年齢" %>
      <%= f.text_field :age, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :favorite_load, "お気に入りの道" %>
      <%= f.text_field :favorite_load, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :when_ride, "いつからバイクに乗ってる？" %>
      <%= f.text_field :when_ride, class: 'form-control' %>
    </div>
    
    <%= f.submit "登録する", class: 'btn btn-primary' %>

  <% end %>
</div>