<div class='user-bg'>
  <div class='bg-mask'>
    <div class="container">
      <div class="row">

        <div class="col-lg-3"></div>

        <div class="col-lg-6">
          <table class="table">
            <tbody>
              <tr>
                <% if @user.image? %>
                  <td><%= image_tag @user.image.url, :size =>'50x50', class: 'rounded-circle' %>&nbsp;&nbsp;<%= @user.name %></td>
                <% else %>
                  <td><%= image_tag '/images/user_default.jpeg', :size =>'50x50', class: 'rounded-circle' %>&nbsp;&nbsp;<%= @user.name %></td>
                <% end %>
              </tr>
              <%= form_with model: @user, local: true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>

                <tr>
                  <td><%= f.label :bike_name, "乗ってるバイク" %></td>
                  <td><%= f.text_field :bike_name, :placeholder => '例：cb400sf', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :location, "住んでるところ" %></td>
                  <td><%= f.text_field :location, :placeholder => '例：東京都', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :gender, "性別" %></td>
                  <td><%= f.select :gender, [["男", "男"], ["女", "女"]],  :prompt => "選択してください" %></td>
                </tr>

                <tr>
                  <td><%= f.label :age, "年齢" %></td>
                  <td><%= f.text_field :age, :placeholder => '例：22', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :favorite_load, "お気に入りの道" %></td>
                  <td><%= f.text_field :favorite_load, :placeholder => '例：オロロンライン', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :when_ride, "いつからバイクに乗ってる？" %></td>
                  <td><%= f.text_field :when_ride, :placeholder => '例：2017年11月', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :twitter_id, "Twitterアカウント" %></td>
                  <td><%= f.text_field :twitter_id, :placeholder => '例：@xxxxxxxxxx', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :image, "アイコン画像を設定" %></td>
                  <td><%= f.file_field :image %></td>
                </tr>

                <tr>
                  <td><%= f.label :password, "パスワード" %>(必須)</td>
                  <td><%= f.text_field :password, class: 'form-control' %></td>
                </tr>

                <tr class="no-underline">
                  <td></td>
                  <%# リンク設定 %>
                  <td><%= f.submit "登録する", class: 'btn btn-primary' %></td>
                </tr>
              <% end %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>