<div class='user-bg'>
  <div class='bg-mask'>
    <div class="container">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-lg-4 col-sm-6">
            <table class="table">
                <tbody>
                  <% if user.image? %>
                    <td>
                      <div class="user-img">  
                        <%= link_to image_tag(user.image.url, :size =>'50x50'), user_path(user) %>
                      </div>  
                    </td>
                  <% else %>
                    <td>
                      <div class="user-img">  
                        <%= link_to image_tag('/images/user_default.jpeg', :size =>'50x50'), user_path(user) %>
                      </div>
                    </td>
                  <% end %>
                  <td><%= user.name %></td>
                  <tr>
                    <td>性別</td>
                    <td><%= user.gender %></td>
                  <tr>
                  <tr>
                    <td>年齢</td>
                    <td><%= user.age %></td>
                  <tr>
                  <tr>
                    <td>乗ってるバイク</td>
                    <td><%= user.bike_name %></td>
                  <tr>
                  <tr>
                    <td>いつから乗ってる？</td>
                    <td><%= user.when_ride %></td>
                  <tr>
                  <tr>
                    <td>住んでる所</td>
                    <td><%= user.location %></td>
                  <tr>
                  <tr>
                    <td>お気に入りの道</td>
                    <td><%= user.favorite_load %></td>
                  <tr>
                  <tr>
                    <td>Twitterアカウント</td>
                    <td><%= user.twitter_id %></td>
                  <tr>
                </tbody>
            </table>
          </div>
        <% end %>  
      </div>
    </div>
  </div>
</div>
