<div class='riderhouse-bg'>
<%= image_tag('/images/riderhouse_bg_img.jpg') %>
  <div class='bg-mask'>

    <%= render 'riderhouses/search' %>
    <%= render 'riderhouses/sort' %>

    <%# ライダーハウス一覧の表示 %>
    <div class="container">
      <div class="row">
        <% @riderhouses.each do |r| %>
          <div class="col-sm-6 col-lg-3">
            <div class="table-responsiv">
            　<table class="table">
                <tbody>
                  <tr>
                    <% if r.image? %>
                      <th><%= link_to image_tag(r.image.url, :size =>'240x180'), riderhouse_path(r) %></th>
                    <% else %>
                      <th><%= link_to image_tag('/images/riderhouse_default.png', :size =>'240x180'), riderhouse_path(r) %></th>
                    <% end %>
                  </tr>

                  <tr>
                    <td>
                      <%= link_to r.name, riderhouse_path(r) %>
                      <span id="favorite-<%= r.id %>">
                        <%= render partial: "favorites/favorite", locals: { r: r } %>
                      </span>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <%= "口コミ#{r.posts.count}件" %><br>
                      <%= Post.new.rating_average(r) %><br>
                      <%= "お気に入り登録者数#{r.favorites.count}人" %><br>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <%# ページネーション %>
  <%= paginate @riderhouses %>
  </div>
</div>