<div class='riderhouse-bg'>
  <div class='bg-mask'>
    <%= search_form_for @q do |f| %>
      <%= f.label :name, "Keyword" %>
      <%= f.search_field :name_cont %> 
      <%= f.submit "検索" %>
    <% end %>

    <%# ライダーハウス一覧の表示 %>
    <div class="container">
      <div class="row">
        <% @riderhouses.each do |r| %>
          <div class="col-sm-6 col-lg-3">
            <%# <div class="index-box"> %>
            <div class="table-responsiv">
            　<table class="table">
                <tbody>
                  <tr>
                    <% if r.image? %>
                      <th><%= link_to image_tag(r.image.url, :size =>'240x180'), riderhouse_path(r) %></th>
                    <% else %>
                      <th><%= link_to image_tag('/images/riderhouse_default.png', :size =>'240x180'), riderhouse_path(r) %></th>
                    <% end %>
                  </tr>

                  <tr>
                    <th>
                      <%= link_to r.name, riderhouse_path(r) %> &nbsp;
                      <span id="favorite-<%= r.id %>">
                        <%= render partial: "favorites/favorite", locals: { r: r } %>
                      </span>
                    </th>
                  </tr>

                  <tr>
                    <th>
                      <%= "口コミ#{r.posts.count}件" %><br>
                      <%= Post.new.rating_average(r) %>
                    </th>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <%# ページネーション %>
  <%= paginate @riderhouses %>
  </div>
</div>