<div class='map-bg'>
  <div class='bg-mask'>
    <div class="container">
      <%# OpenWeatherMap表示 %>
      <h4>天気予報</h4><br>
      <select id="city-name">
        <option value="0">選択してください</option>
        <option value="Sapporo-shi">札幌</option>
        <option value="Sendai-shi">仙台</option>
        <option value="Niigata-shi">新潟</option>
        <option value="Tokyo">東京</option>
        <option value="kanazawa">金沢</option>
        <option value="Nagoya-shi">名古屋</option>
        <option value="Osaka">大阪</option>
        <option value="Hiroshima-shi">広島</option>
        <option value="Kochi-shi">高知</option>
        <option value="Fukuoka-ken">福岡</option>
        <option value="Naha-shi">那覇</option>
      </select><br><br>
      <div id="weather"></div>
    </div><br>

    <%# google map表示 %>
    <div id='index-map' style="height:500px;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=@API_KEY_map%>&callback=getCurrentLocation" async defer></script>

  </div>
</div>

<script>
//現在地の取得
function getCurrentLocation() {
  navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
}

//initMapに現在地の位置情報を渡す
function successCallback(position) {
  var currentLocation = { lat: position.coords.latitude, lng: position.coords.longitude };
  initMap(currentLocation);
}

function errorCallback(error) {
  var currentLocation = { lat: 35.678877, lng: 139.770320 };
  initMap(currentLocation);
  console.log(error);
}

function initMap(currentLocation){
  var marker = [];
  var infoWindow = [];
  var center = { lat: parseFloat(currentLocation.lat), lng: parseFloat(currentLocation.lng) };


  let map = new google.maps.Map(document.getElementById('index-map'), {
  center: center, //地図の中心点
  zoom: 8 //地図の拡大・縮小
  });

  <% @riderhouses.each_with_index do |riderhouse,i| %>
    //変数マッピング
    lat = <%= riderhouse.latitude %>
    lng = <%= riderhouse.longitude %>
    i   = <%= i %>
  
    // マーカーの追加
    marker[i] = new google.maps.Marker({  
      // マーカーを立てる位置を指定
      position: {lat: lat, lng: lng}, 
      // マーカーを立てる地図を指定
      map: map 
    });

    // 吹き出しの追加
    infoWindow[i] = new google.maps.InfoWindow({ 
      // 吹き出しに表示する内容
      content: `<div class="map"><%= link_to riderhouse.name, riderhouse_path(riderhouse) %></div>` 
    });

    markerEvent(i);
  <% end %>

  function markerEvent(i) {  
    // マーカーをクリックしたとき
    marker[i].addListener('click', function() { 
      // 吹き出しの表示
      infoWindow[i].open(map, marker[i]); 
    });
  }
}
</script>
