<div class='riderhouse-bg'>
  <div class='bg-mask'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
    
          <div class="image-box"%></div>

          <table class="table">
            <tbody>

              <%= form_with model: @riderhouse, local: true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
                <tr>
                  <td><%= f.label "画像をアップロード" %></td>
                  <td><%= f.file_field :image %></td>
                </tr>

                <tr>
                  <td><%= f.label :name, "名前" %></td>
                  <td><%= f.text_field :name, :placeholder => '例：ライダーハウスA', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :address, "住所" %></td>
                  <td><%= f.text_field :address, :placeholder => '例：○○県○○市○○町○-□-△', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :tel, "電話番号" %></td>
                  <td><%= f.text_field :tel, :placeholder => '例：000-111-2222', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :price, "価格" %></td>
                  <td><%= f.text_field :price, :placeholder => '例：2000', class: 'form-control' %></td>
                </tr>

                <tr>
                  <td><%= f.label :opening_hours, "営業時間" %></td>
                  <td><%= f.text_field :opening_hours, :placeholder => '例：9:00~19:00', class: 'form-control' %></td>
                </tr>

                <tr class="no-underline">
                  <td></td>
                  <td><%= f.submit "登録する", class: 'btn btn-primary' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>