<h1>ライダーハウス新規登録</h1>

<div class="container">

  <%= form_with model: @riderhouse, local: true do |f| %>

    <div class="form-group">
      <%= f.label :name, "名称" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :address, "住所" %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tel, "電話番号" %>
      <%= f.text_field :tel, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price, "価格" %>
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :opening_hours, "営業時間" %>
      <%= f.text_field :opening_hours, class: 'form-control' %>
    </div>

    <%= f.label "画像をアップロード" %><br>
    <%= f.file_field :image %><br><br>
    
    <%= f.submit "登録する", class: 'btn btn-primary' %>

  <% end %>
  
</div>
