<h1>Riderhouse#show</h1>
<p>Find me in app/views/riderhouse/show.html.erb</p>


名前<%= @riderhouse.name %>
住所<%= @riderhouse.address %>
電話番号<%= @riderhouse.tel %>
価格<%= @riderhouse.price %>
営業時間<%= @riderhouse.opening_hours %>

