<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <% if @riderhouse.image? %>
        <%= image_tag @riderhouse.image.url, :size =>'500x375' %>
      <% end %>

      <div class="table-responsive riderhouse-show-table">
        <table class="table bg-white">
          <tbody>
            <tr>
              <th>名称</th>
              <th><%= @riderhouse.name %></th>
            </tr>
            <tr>
              <th>住所</th>
              <th><%= @riderhouse.address %></th>
            <tr>
            <tr>
              <th>緯度</th>
              <th><%= @riderhouse.latitude %></th>
            <tr>
            <tr>
              <th>経度</th>
              <th><%= @riderhouse.longitude %></th>
            <tr>
            <tr>
              <th>電話番号</th>
              <th><%= @riderhouse.tel %></th>
            </tr>
            <tr>
              <th>価格</th>
              <th><%= @riderhouse.price %></th>
            </tr>
            <tr>
              <th>営業時間</th>
              <th><%= @riderhouse.opening_hours %></th>
            </tr>
            <tr>
              <th><%= link_to '編集', edit_riderhouse_path(@riderhouse), class: 'btn btn-primary' %></th>
              <th></th>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="overflow-auto" style="height:680px;">
        <%# 口コミを表示 %>
        <% @posts.each do |post| %>
          <table class="table bg-white">
            <tbody>
              <tr>
                <% if post.user.image? %>
                  <th><%= image_tag post.user.image.url, :size =>'50x50', class: 'rounded-circle' %></th>
                <% end %>
                <th><%= post.user.name %></th>
            
              </tr>
              <tr>
                <th>評価</th>
                <th><%= post.rating %></th>
              </tr>
              <tr>
                <th>口コミ</th>
                <th><%= post.content %><th>
              <tr>
            </tbody>
          </table>
        <% end %>
      </div> 
      <%= link_to '口コミを投稿する', new_riderhouse_post_path(@riderhouse), class: 'btn btn-primary' %> 
    </div>
  </div>
</div>

<%# google map表示 %>
<script id="googlemap" src="https://maps.googleapis.com/maps/api/js?key=<%=@API_KEY_map%>&callback=initMap" async defer></script>

<div id='map-favorites' style="height:600px;"></div>