<div class='riderhouse-bg'>
  <div class='bg-mask'>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <% if @riderhouse.image? %>
            <%= image_tag @riderhouse.image.url, :size =>'500x375' %>
          <% else %>
            <%= image_tag '/images/riderhouse_default.png', :size =>'500x375' %>
          <% end %> 

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>名称</td>
                  <td><%= @riderhouse.name %></td>
                </tr>
                <tr>
                  <td>住所</td>
                  <td><%= @riderhouse.address %></td>
                <tr>
                <tr>
                  <td>電話番号</td>
                  <td><%= @riderhouse.tel %></td>
                </tr>
                <tr>
                  <td>価格</td>
                  <td><%= @riderhouse.price %></td>
                </tr>
                <tr>
                  <td>営業時間</td>
                  <td><%= @riderhouse.opening_hours %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <% if @riderhouse.user_id == current_user.id %>
            <%= link_to edit_riderhouse_path(@riderhouse) do %>
              <i class="fas fa-edit fa-5x"></i>
            <% end %>
            <span class='trash-icon'>
              <%= link_to riderhouse_path(@riderhouse), method: :delete, data: { confirm: "#{@riderhouse.name}を削除してよろしいですか？" } do %>
                <i class="fas fa-trash fa-5x"></i>
              <% end %>  
            </span>   
          <% end %>

        </div>

        <div class="col-lg-6">
          <div class="overflow-auto" style="height:680px;">
            <h4>
              <%= "口コミ#{@riderhouse.posts.count}件" %><br>
              <%= Post.new.rating_average(@riderhouse) %>
            </h4>
            <%# 口コミを表示 %>
            <% @posts.each do |post| %>
              <table class="table bg-white">
                <tbody>
                  <tr>
                    <% if post.user.image? %>
                      <td><%= link_to image_tag(post.user.image.url, :size =>'50x50'), user_path(post.user), class: 'rounded-circle' %></td>
                    <% else %>
                      <td><%= link_to image_tag('/images/user_default.jpeg', :size =>'50x50'), user_path(post.user), class: 'rounded-circle' %></td>
                    <% end %>
                    <td>名前：<%= post.user.name %></td>
                
                  </tr>
                  <tr>
                    <td>評価</td>
                    <td><%= post.rating %></td>
                  </tr>
                  <tr>
                    <td>口コミ</td>
                    <td><%= post.content %><td>
                  <tr>
                </tbody>
              </table>
            <% end %>
          <%= link_to '口コミを投稿する', new_riderhouse_post_path(@riderhouse), class: 'btn btn-primary' %> 
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

