<div class="user-bg">
  <div class="bg-mask">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <table class="table">
            <tbody>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <tr>
                  <td><%= f.label :email, 'メールアドレス' %></td>
                  <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
                </tr>

                <tr>
                  <td><%= f.label :password, 'パスワード' %></td>
                  <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                </tr>
              
                <tr class="no-underline">
                  <td>
                    <% if devise_mapping.rememberable? %>
                      <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  <% end %>
                  </td>
                  <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
                </tr>

                <tr class="no-underline">
                  <td></td>
                  <td><%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post, class: "btn btn-info"%></td>
                </tr>
              <% end %>

      <%= render "devise/shared/links" %>
      
    </div>
  </div>
</div>