<div class="post-bg">
  <div class="bg-mask">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <%= form_with model: @post, url: riderhouse_posts_path, method: :post, local: true do |f| %>

            <div class="form-group">
              <%= f.label :rating, "評価" %>
              <%= f.select :rating, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]] %>
            </div>

            <div class="form-group">
              <%= f.label :content, "口コミ" %>
              <%= f.text_area :content, class: 'form-control' %>
            </div>
            
            <%= f.submit "登録する", class: 'btn btn-primary' %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

