<!DOCTYPE html>
<html>
  <head>
    <title>RiderHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon(watch: true) %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" rel="stylesheet">

  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-success"><%= flash[:alert] %></div>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
