<!DOCTYPE html>
<html>
  <head>
    <title>RiderHouse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <ul class="nav bg-info">
      <li class="nav-item">
        <%= link_to '一覧', riderhouses_path, class: 'nav-link text-white' %>
      </li>
      <li class="nav-item">
        <%= link_to '新規作成', new_riderhouse_path, class: 'nav-link text-white'%>
      </li>
      <li class="nav-item">
        <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-white'%>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white'%>
      </li>
      <li class="nav-item">
        <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'nav-link text-white'%>
      </li>
    </ul>

    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-success"><%= flash[:alert] %></div>
    <% end %>
    </header>

    <main>
      <div class="bg-mask">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
